extends layout
block content
   h1= title
   if (toShow == null) 
      h2 No instance to update 
   else
    - let ballid = toShow._id
    - let ball_type = toShow.ball_type
    - let ball_size = toShow.ball_size
    - let ball_cost = toShow.ball_cost
    - let actionid = "/resource/balls/" + ballid
    div.row(class='mb-2') 
      div.mr-1 ID is 
      div #{ballid} 
   form(id='BallForm', action="/resource/balls", method="PUT")
    div.form-group
     label.ballAttr(for='ball_type') Ball Type
     input#ball_type(type='text', name='ball_type')
    div.form-group
     label.ballAttr(for='ball_size') Ball Size
     input#ball_size(type='number', name='ball_size')
    div.form-group
     label.ballAttr(for='ball_cost') Ball Cost
     input#ball_cost(type='text', name='ball_cost')
     input(type="submit")
   script.
    document.forms['BallForm'].addEventListener('submit', (event) => {
      event.preventDefault();
      // TODO do something here to show user that form is being submitted
      fetch(event.target.action, {
       method: 'POST',
       body: new URLSearchParams(new FormData(event.target)) // event.target is the form
      }).then((resp) => {
       return resp.json(); // or resp.text() or whatever the server sends
      }).then((body) => {
       alert("Save succeded")
       // TODO handle body
      }).catch((error) => {
       // TODO handle error
       alert("Save failed " + error )
      });
     });



























//- extends layout
//- block content
//-  h1= title
//-  if (toShow == null) 
//-   h2 No instance to update 
//-  else
//-  - let ballid = toShow._id
//-  - let ball_type = toShow.ball_type
//-  - let ball_size = toShow.ball_size
//-  - let ball_cost = toShow.ball_cost
//-  - let actionid = "/resource/balls/" + ballid
//-  div.row(class='mb-2') 
//-   div.mr-1 ID is 
//-   div #{ballid} 
//-  form(id='BallForm', action="/resource/balls", method="PUT")
//-   div.form-group
//-    label.ballAttr(for='ball_type') Ball Type 
//-    input#ball_type(type='text', name='ball_type')
//-   div.form-group
//-    label.ballAttr(for='ball_size') Ball Size
//-    input#ball_size(type='number', name='ball_size')
//-   div.form-group
//-    label.ballAttr(for='ball_cost') Ball Cost
//-    input#ball_cost(type='number', name='ball_cost')
//-   input(type="submit")
//-  script.
//-   document.forms['BallForm'].addEventListener('submit', (event) => {
//-    event.preventDefault();
//-    // TODO do something here to show user that form is being submitted
//-    fetch(event.target.action, {
//-     method: 'PUT',
//-     body: new URLSearchParams(new FormData(event.target)) // event.target is the form
//-    }).then((resp) => {
//-     return resp.json(); // or resp.text() or whatever the server sends
//-    }).then((body) => {
//-     alert("Save succeded")
//-     // TODO handle body
//-    }).catch((error) => {
//-     // TODO handle error
//-     alert("Save failed " + error )
//-    });
//-   });